<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Gum</key>
	<dict>
		<key>price</key>
		<real>0.75</real>
		<key>quantity</key>
		<integer>20</integer>
	</dict>
	<key>SportsDrink</key>
	<dict>
		<key>price</key>
		<real>2.75</real>
		<key>quantity</key>
		<integer>1</integer>
	</dict>
	<key>FruitJuice</key>
    <dict>
        <key>price</key>
        <real>1.50</real>
        <key>quantity</key>
        <integer>6</integer>
    </dict>
	<key>Water</key>
    <dict>
        <key>price</key>
        <real>1.00</real>
        <key>quantity</key>
        <integer>11</integer>
    </dict>
	<key>PopTart</key>
    <dict>
        <key>price</key>
        <real>2.00</real>
        <key>quantity</key>
        <integer>2</integer>
    </dict>
	<key>CandyBar</key>
    <dict>
        <key>price</key>
        <real>1.00</real>
        <key>quantity</key>
        <integer>20</integer>
    </dict>
	<key>Wrap</key>
    <dict>
        <key>price</key>
        <real>5.25</real>
        <key>quantity</key>
        <integer>4</integer>
    </dict>
	<key>Sandwich</key>
    <dict>
        <key>price</key>
        <real>5.25</real>
        <key>quantity</key>
        <integer>2</integer>
    </dict>
	<key>Cookie</key>
    <dict>
        <key>price</key>
        <real>1.00</real>
        <key>quantity</key>
        <integer>3</integer>
    </dict>
	<key>Chips</key>
    <dict>
        <key>price</key>
        <real>1.00</real>
        <key>quantity</key>
        <integer>14</integer>
    </dict>
	<key>DietSoda</key>
	<dict>
		<key>price</key>
		<real>1.25</real>
		<key>quantity</key>
		<integer>5</integer>
	</dict>
	<key>Soda</key>
	<dict>
		<key>price</key>
		<real>1.25</real>
		<key>quantity</key>
		<integer>10</integer>
	</dict>
</dict>
</plist>
