<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EndY</key>
	<real>7200</real>
	<key>Stars</key>
	<dict>
		<key>Patterns</key>
		<dict>
			<key>Cross</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>-60</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>60</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>-60</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>DoubleLineLeft</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>70</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>70</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>140</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>140</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>210</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>210</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>280</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>280</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>350</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>350</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>20</integer>
					<key>y</key>
					<integer>420</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>80</integer>
					<key>y</key>
					<integer>420</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>40</integer>
					<key>y</key>
					<integer>490</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>100</integer>
					<key>y</key>
					<integer>490</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>560</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>120</integer>
					<key>y</key>
					<integer>560</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>DoubleLineRight</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>70</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>70</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>140</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>140</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>210</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>210</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>280</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>280</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>350</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>350</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>-20</integer>
					<key>y</key>
					<integer>420</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>40</integer>
					<key>y</key>
					<integer>420</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>-40</integer>
					<key>y</key>
					<integer>490</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>20</integer>
					<key>y</key>
					<integer>490</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>-60</integer>
					<key>y</key>
					<integer>560</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>560</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>Diamond</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>-50</integer>
					<key>y</key>
					<integer>80</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>80</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>50</integer>
					<key>y</key>
					<integer>80</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>-100</integer>
					<key>y</key>
					<integer>160</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>-50</integer>
					<key>y</key>
					<integer>160</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>160</integer>
					<key>type</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>50</integer>
					<key>y</key>
					<integer>160</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>100</integer>
					<key>y</key>
					<integer>160</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>-50</integer>
					<key>y</key>
					<integer>240</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>240</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>50</integer>
					<key>y</key>
					<integer>240</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>320</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<key>Positions</key>
		<array>
			<dict>
				<key>pattern</key>
				<string>Cross</string>
				<key>x</key>
				<integer>160</integer>
				<key>y</key>
				<integer>240</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleLineLeft</string>
				<key>x</key>
				<integer>30</integer>
				<key>y</key>
				<integer>480</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Cross</string>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<real>1200</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Cross</string>
				<key>x</key>
				<integer>80</integer>
				<key>y</key>
				<real>1450</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Cross</string>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>1700</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleLineRight</string>
				<key>x</key>
				<integer>220</integer>
				<key>y</key>
				<real>2040</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Cross</string>
				<key>x</key>
				<integer>160</integer>
				<key>y</key>
				<integer>2900</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Diamond</string>
				<key>x</key>
				<integer>160</integer>
				<key>y</key>
				<integer>3280</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Diamond</string>
				<key>x</key>
				<integer>160</integer>
				<key>y</key>
				<real>3660</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Diamond</string>
				<key>x</key>
				<integer>160</integer>
				<key>y</key>
				<integer>4040</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleLineLeft</string>
				<key>x</key>
				<integer>20</integer>
				<key>y</key>
				<real>5080</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleLineRight</string>
				<key>x</key>
				<integer>220</integer>
				<key>y</key>
				<real>5740</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Diamond</string>
				<key>x</key>
				<integer>120</integer>
				<key>y</key>
				<real>6400</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Diamond</string>
				<key>x</key>
				<integer>200</integer>
				<key>y</key>
				<real>6800</real>
			</dict>
		</array>
	</dict>
	<key>Platforms</key>
	<dict>
		<key>Patterns</key>
		<dict>
			<key>Single</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>Double</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>50</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>DoubleBreak</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>50</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>Triple</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>50</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>100</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<key>Positions</key>
		<array>
			<dict>
				<key>pattern</key>
				<string>Triple</string>
				<key>x</key>
				<integer>60</integer>
				<key>y</key>
				<integer>380</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>single</string>
				<key>x</key>
				<integer>200</integer>
				<key>y</key>
				<integer>550</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Triple</string>
				<key>x</key>
				<integer>200</integer>
				<key>y</key>
				<integer>700</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Double</string>
				<key>x</key>
				<integer>250</integer>
				<key>y</key>
				<integer>900</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Double</string>
				<key>x</key>
				<integer>40</integer>
				<key>y</key>
				<integer>1800</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Double</string>
				<key>x</key>
				<integer>220</integer>
				<key>y</key>
				<real>1850</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Double</string>
				<key>x</key>
				<integer>40</integer>
				<key>y</key>
				<integer>1900</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Triple</string>
				<key>x</key>
				<integer>40</integer>
				<key>y</key>
				<real>2720</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>25</integer>
				<key>y</key>
				<integer>3080</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>295</integer>
				<key>y</key>
				<real>3080</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>50</integer>
				<key>y</key>
				<integer>3160</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>270</integer>
				<key>y</key>
				<real>3160</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleBreak</string>
				<key>x</key>
				<integer>270</integer>
				<key>y</key>
				<real>4400</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleBreak</string>
				<key>x</key>
				<integer>220</integer>
				<key>y</key>
				<real>4480</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleBreak</string>
				<key>x</key>
				<integer>170</integer>
				<key>y</key>
				<real>4560</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleBreak</string>
				<key>x</key>
				<integer>120</integer>
				<key>y</key>
				<real>4640</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleBreak</string>
				<key>x</key>
				<integer>20</integer>
				<key>y</key>
				<real>4720</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleBreak</string>
				<key>x</key>
				<integer>70</integer>
				<key>y</key>
				<real>4800</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleBreak</string>
				<key>x</key>
				<integer>120</integer>
				<key>y</key>
				<real>4880</real>
			</dict>
			<dict>
				<key>pattern</key>
				<string>DoubleBreak</string>
				<key>x</key>
				<integer>170</integer>
				<key>y</key>
				<integer>4960</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
